.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.btn-div{
    display:flex;
    gap:3vw;
    align-items: center;
}
.nav-items,.nav-items .link{
    display:flex;
    gap:6vw;
    color:#131200;
    font-weight: 300;
}
.nav-items p{
    font-size: 1.4vw;
}

.btn-div h4{
    color: #006400;
}
.btn-div button{
    background-color:  #006400;
    color:white;
    border-radius: 8px;
    padding: 16px 14px;
    outline: none;
    height:40px;
    border:none;
    display: flex;
    align-items: center;
}
.login-link{
    text-decoration: none;
    color: #006400;
}
.link{
    text-decoration: none;
    
}
.btn-span{
    font-family: Roboto;
    text-align: center;
    color:white;
}

@media screen and (max-width: 768px) {
    .navbar .logo{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding-bottom: 7px;
        
        /* width: 50px;
        height: 30px; */
    }
    .navbar .logo img{
        display: flex;
        /* align-content: center;
        justify-content: center; */
        /* flex-direction: row;
        border: 2px solid black; */
        width: 80px;
        height: 30px;
    }
    .navbar .logo .logo_tree{
        width: 20px;
        /* height: 20px; */
    }
    .nav-items p{
        font-size: 1.5vw;
        font-weight: 500;
    }
    .nav-items .link{
        font-size: 1.5vw;
        font-weight: 500;
    }
}